paper-outline-generation-workflow.json
{
  "name": "AI论文大纲生成工作流 (基于Gemini-DR格式重构)",
  "nodes": [
    {
      "parameters": {
        "content": "### outline_generation_trigger()\n- 接收论文大纲生成请求\n- 分析文档内容和主题\n- 使用webhook触发器",
        "height": 400,
        "width": 440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1580,
        -280
      ],
      "typeVersion": 1,
      "id": "outline-trigger-note",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/outline-generation",
        "options": {}
      },
      "id": "o1p2q3r4-s5t6-7890-abcd-ef1234567890",
      "name": "大纲生成触发器",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-1580, -60],
      "webhookId": "outline-generation"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "config-1",
              "name": "max_outline_chapters",
              "value": 6,
              "type": "number"
            },
            {
              "id": "config-2",
              "name": "min_sections_per_chapter",
              "value": 3,
              "type": "number"
            },
            {
              "id": "config-3",
              "name": "current_date",
              "value": "={{$now.format('yyyy-LL-dd')}}",
              "type": "string"
            },
            {
              "id": "config-4",
              "name": "outline_id",
              "value": "=outline:paper-outline:{{ $json.sessionId }}:",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1880,
        -60
      ],
      "id": "outline-configs",
      "name": "Outline Configs"
    },
    {
      "parameters": {
        "content": "### Outline Configs\n- `max_outline_chapters` (*最大章节数*): 6\n- `min_sections_per_chapter` (*每章最少小节数*): 3\n\n### variables:\n- `current_date`\n- `outline_id`\n\n",
        "height": 300,
        "width": 340,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1980,
        -280
      ],
      "typeVersion": 1,
      "id": "outline-configs-note",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1540,
        200
      ],
      "id": "outline-gemini-model",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "sUx2BOKL53mwfOJl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"documentAnalysis\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"theme\": {\n          \"type\": \"string\",\n          \"description\": \"论文主题\"\n        },\n        \"concepts\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"description\": \"关键概念列表\"\n        },\n        \"academicLevel\": {\n          \"type\": \"string\",\n          \"enum\": [\"undergraduate\", \"graduate\", \"phd\", \"research\"],\n          \"description\": \"学术水平\"\n        },\n        \"targetWordCount\": {\n          \"type\": \"number\",\n          \"description\": \"目标字数\"\n        }\n      },\n      \"required\": [\"theme\", \"concepts\", \"academicLevel\", \"targetWordCount\"]\n    },\n    \"sessionId\": {\n      \"type\": \"string\",\n      \"description\": \"会话ID\"\n    }\n  },\n  \"required\": [\"documentAnalysis\", \"sessionId\"],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -1260,
        180
      ],
      "id": "outline-input-parser",
      "name": "Outline Input Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一个专业的论文大纲生成系统。请分析用户提供的文档内容并提取关键信息。

分析要求：
1. **主题识别**：确定论文的核心主题和研究方向
2. **概念提取**：识别关键概念和术语
3. **学术水平评估**：判断适合的学术水平
4. **字数估算**：根据内容复杂度估算目标字数

请分析以下文档内容：

{{ $('大纲生成触发器').item.json.content || $('大纲生成触发器').item.json }}

请提供详细的分析结果。",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -1480,
        -60
      ],
      "id": "document-analysis-parser",
      "name": "Document Analysis Parser",
      "notesInFlow": true
    },
    {
      "parameters": {
        "content": "## build_knowledge_queries()\n\n构建知识库搜索查询。\n- 基于文档分析结果生成搜索查询\n- 包含主题、概念、方法论等查询\n- 为大纲生成提供参考信息",
        "height": 500,
        "width": 440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        -420
      ],
      "typeVersion": 1,
      "id": "knowledge-queries-note",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 构建知识库搜索查询\nfor (const item of $input.all()) {\n  const documentAnalysis = item.json.documentAnalysis;\n  \n  // 构建搜索查询\n  const searchQueries = [];\n  \n  // 主题相关查询\n  if (documentAnalysis.theme) {\n    searchQueries.push({\n      type: 'theme',\n      query: documentAnalysis.theme,\n      priority: 'high'\n    });\n  }\n  \n  // 关键概念查询\n  documentAnalysis.concepts.forEach(concept => {\n    searchQueries.push({\n      type: 'concept',\n      query: concept + ' 论文结构',\n      priority: 'medium'\n    });\n  });\n  \n  // 学科领域查询\n  const disciplineKeywords = [\n    '论文写作方法', '学术写作规范', '论文大纲模板',\n    documentAnalysis.theme + ' 研究方法'\n  ];\n  \n  disciplineKeywords.forEach(keyword => {\n    searchQueries.push({\n      type: 'methodology',\n      query: keyword,\n      priority: 'medium'\n    });\n  });\n  \n  // 添加通用论文结构查询\n  searchQueries.push({\n    type: 'structure',\n    query: '学术论文标准结构 章节安排',\n    priority: 'high'\n  });\n  \n  item.json.searchQueries = searchQueries;\n  item.json.originalAnalysis = documentAnalysis;\n  \n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        -80
      ],
      "id": "build-knowledge-queries",
      "name": "构建知识库搜索查询",
      "notesInFlow": true
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/knowledge-search",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "queries",
              "value": "={{ $json.searchQueries }}"
            },
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "includeScore",
              "value": "true"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "knowledge-base-search",
      "name": "知识库检索",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [-600, -80]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "={{ $json.status }}",
            "operation": "equal",
            "rightValue": "success"
          }
        }
      },
      "id": "knowledge-search-check",
      "name": "检查知识库检索结果",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-400, -80]
    },
    {
      "parameters": {
        "content": "## generate_outline_structure()\n\n使用Gemini模型生成论文大纲结构。\n- 基于文档分析和知识库检索结果\n- 生成合理的章节结构\n- 确定各章节的内容要求",
        "height": 500,
        "width": 440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -200,
        -420
      ],
      "typeVersion": 1,
      "id": "outline-structure-note",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"outline\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"title\": {\n          \"type\": \"string\",\n          \"description\": \"论文标题\"\n        },\n        \"chapters\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"chapterNumber\": {\n                \"type\": \"number\"\n              },\n              \"title\": {\n                \"type\": \"string\"\n              },\n              \"sections\": {\n                \"type\": \"array\",\n                \"items\": {\n                  \"type\": \"object\",\n                  \"properties\": {\n                    \"sectionTitle\": {\n                      \"type\": \"string\"\n                    },\n                    \"content\": {\n                      \"type\": \"string\"\n                    },\n                    \"wordCount\": {\n                      \"type\": \"number\"\n                    }\n                  }\n                }\n              }\n            }\n          }\n        }\n      },\n      \"required\": [\"title\", \"chapters\"]\n    },\n    \"guidelines\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"style\": {\n          \"type\": \"string\",\n          \"description\": \"写作风格\"\n        },\n        \"academicLevel\": {\n          \"type\": \"string\",\n          \"description\": \"学术水平\"\n        },\n        \"citationFormat\": {\n          \"type\": \"string\",\n          \"description\": \"引用格式\"\n        }\n      }\n    },\n    \"writingTasks\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"chapter\": {\n            \"type\": \"number\"\n          },\n          \"section\": {\n            \"type\": \"string\"\n          },\n          \"title\": {\n            \"type\": \"string\"\n          },\n          \"priority\": {\n            \"type\": \"string\",\n            \"enum\": [\"high\", \"medium\", \"low\"]\n          },\n          \"requirements\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"content\": {\n                \"type\": \"string\"\n              },\n              \"wordCount\": {\n                \"type\": \"number\"\n              },\n              \"objective\": {\n                \"type\": \"string\"\n              },\n              \"context\": {\n                \"type\": \"array\",\n                \"items\": {\n                  \"type\": \"string\"\n                }\n              }\n            }\n          }\n        }\n      }\n    }\n  },\n  \"required\": [\"outline\", \"guidelines\", \"writingTasks\"],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        0,
        180
      ],
      "id": "outline-structure-parser",
      "name": "Outline Structure Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一个专业的学术论文大纲生成专家。请基于提供的文档分析和知识库检索结果，生成一个完整、合理的论文大纲。

生成要求：
1. **结构合理性**：确保章节逻辑清晰，层次分明
2. **内容完整性**：覆盖研究主题的所有重要方面
3. **学术规范性**：符合学术写作标准
4. **可操作性**：为后续写作提供明确的指导

## 文档分析结果
**主题：** {{ $json.originalAnalysis.theme }}
**关键概念：** {{ $json.originalAnalysis.concepts.join(', ') }}
**学术水平：** {{ $json.originalAnalysis.academicLevel }}
**目标字数：** {{ $json.originalAnalysis.targetWordCount }}字

## 知识库检索结果
{{ $json.knowledgeResults ? $json.knowledgeResults.map((result, index) => `### ${index + 1}. ${result.title}
${result.content.substring(0, 200)}...
**相关度：** ${result.score}
`).join('') : '无检索结果' }}

请生成详细的论文大纲，包括标题、章节结构、写作任务等。",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -200,
        -60
      ],
      "id": "llm-outline-generation",
      "name": "LLM大纲生成",
      "notesInFlow": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 处理大纲生成结果\nfor (const item of $input.all()) {\n  try {\n    const outlineResult = item.json;\n    const originalData = $('构建知识库搜索查询').first().json;\n    \n    // 验证大纲结构\n    const validationResult = validateOutline(outlineResult);\n    \n    if (!validationResult.isValid) {\n      item.json = {\n        error: '大纲验证失败',\n        errorMessage: validationResult.errorMessage,\n        processingStage: 'validation_failed'\n      };\n      continue;\n    }\n    \n    // 构建完整的大纲数据\n    const outlineData = {\n      outlineId: $('Outline Configs').item.json.outline_id,\n      sessionId: originalData.sessionId,\n      title: outlineResult.outline.title,\n      chapters: outlineResult.outline.chapters,\n      guidelines: outlineResult.guidelines,\n      writingTasks: outlineResult.writingTasks,\n      metadata: {\n        totalChapters: outlineResult.outline.chapters.length,\n        totalSections: outlineResult.writingTasks.length,\n        estimatedWordCount: outlineResult.writingTasks.reduce((sum, task) => sum + task.requirements.wordCount, 0),\n        academicLevel: outlineResult.guidelines.academicLevel,\n        generatedAt: new Date().toISOString()\n      },\n      originalAnalysis: originalData.originalAnalysis,\n      knowledgeResults: originalData.knowledgeResults || [],\n      processingStage: 'outline_generated',\n      status: 'completed'\n    };\n    \n    item.json = {\n      outlineData: outlineData,\n      validationResult: validationResult,\n      processingStage: 'outline_processed',\n      success: true\n    };\n    \n  } catch (error) {\n    item.json = {\n      error: '大纲处理失败',\n      errorMessage: error.message,\n      originalResponse: item.json,\n      processingStage: 'processing_failed'\n    };\n  }\n}\n\nfunction validateOutline(outline) {\n  // 检查必需字段\n  if (!outline.outline || !outline.outline.title || !outline.outline.chapters) {\n    return {\n      isValid: false,\n      errorMessage: '大纲结构不完整，缺少标题或章节信息'\n    };\n  }\n  \n  // 检查章节数量\n  const maxChapters = $('Outline Configs').item.json.max_outline_chapters;\n  if (outline.outline.chapters.length > maxChapters) {\n    return {\n      isValid: false,\n      errorMessage: `章节数量超过限制：${outline.outline.chapters.length}/${maxChapters}`\n    };\n  }\n  \n  // 检查写作任务\n  if (!outline.writingTasks || outline.writingTasks.length === 0) {\n    return {\n      isValid: false,\n      errorMessage: '缺少写作任务定义'\n    };\n  }\n  \n  return {\n    isValid: true,\n    errorMessage: null\n  };\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        -60
      ],
      "id": "outline-result-processor",
      "name": "大纲结果处理",
      "notesInFlow": true
    },
    {
      "parameters": {
        "content": "## trigger_writing_workflow()\n\n触发写作工作流。\n- 将生成的大纲发送给写作Agent\n- 启动分章节写作流程\n- 传递写作任务和指导原则",
        "height": 400,
        "width": 440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        -420
      ],
      "typeVersion": 1,
      "id": "writing-workflow-note",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "url": "http://localhost:5678/webhook/writing-agent",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "outlineData",
              "value": "={{ $json.outlineData }}"
            },
            {
              "name": "sessionId",
              "value": "={{ $json.outlineData.sessionId }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "trigger-writing-workflow",
      "name": "触发写作工作流",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [400, -60]
    },
    {
      "parameters": {
        "content": "## final_output()\n\n生成最终输出结果。\n- 返回生成的大纲数据\n- 提供写作任务列表\n- 包含处理状态信息",
        "height": 300,
        "width": 440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        600,
        -420
      ],
      "typeVersion": 1,
      "id": "final-output-note",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 生成最终输出\nfor (const item of $input.all()) {\n  const result = {\n    success: true,\n    message: '论文大纲生成完成',\n    data: {\n      outline: item.json.outlineData,\n      writingTasks: item.json.outlineData.writingTasks,\n      metadata: item.json.outlineData.metadata\n    },\n    timestamp: new Date().toISOString(),\n    processingTime: new Date() - new Date($('Document Analysis Parser').item.json.timestamp || Date.now())\n  };\n  \n  item.json = result;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        -60
      ],
      "id": "final-output-generator",
      "name": "最终输出生成器",
      "notesInFlow": true
    }
  ],
  "connections": {
    "大纲生成触发器": {
      "main": [
        [
          {
            "node": "Document Analysis Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outline Configs": {
      "main": [
        []
      ]
    },
    "Document Analysis Parser": {
      "main": [
        [
          {
            "node": "构建知识库搜索查询",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "构建知识库搜索查询": {
      "main": [
        [
          {
            "node": "知识库检索",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "知识库检索": {
      "main": [
        [
          {
            "node": "检查知识库检索结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查知识库检索结果": {
      "main": [
        [
          {
            "node": "LLM大纲生成",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "最终输出生成器",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM大纲生成": {
      "main": [
        [
          {
            "node": "大纲结果处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "大纲结果处理": {
      "main": [
        [
          {
            "node": "触发写作工作流",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "触发写作工作流": {
      "main": [
        [
          {
            "node": "最终输出生成器",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "outline-workflow",
      "name": "大纲生成"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1.0.0"
}